.jumbotron{
  background-color:blueviolet !important;
  
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}
.jumbotron h1{
  font-size: xx-large;
  font-weight: bolder;
}
.form-content{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 10px groove lightgray;
  padding: 30px 30px;
}
.result-content{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 7px;
  padding: 10px 0px;
}
.content-container{
  background-color:aliceblue;
  margin: 0px;
}

